.details {
    display: grid;
    grid-template-rows: auto 120px;
    background-color: palegoldenrod;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.flight-icon {
    height: 90px;
}

.flight {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: rgb(178, 214, 230);
    padding: 10px;
    margin: 5px;
}

.flight:hover {
    background-color: rgb(185, 188, 189);
}