<div class="dialog-container">
    <h3>Welcome to the AirTraffic App!</h3>
    <p>We use your location to show you live aircraft data in your area.</p>
    <button id="allow">I understand and want to share my location</button>
    <button id="deny">I don't want to share my location</button>
</div>